.visited__link_blue_practicum {
    text-decoration: none;
    color: blue;
    padding-left: 25px;
    width: 16px;
    height: 16px;
    background: url("https://yastatic.net/s3/home/services/all/svg/praktikum0.svg") no-repeat;
    background-size: 16px;
}