.foot__item:link {
    text-decoration: none;
    color: #999;
    white-space: nowrap;
    margin-right: 20px;
}

.foot__item:visited {
    color: #4b2f89;
}

.foot__item:hover {
    color: red;
}

.foot__item:active {
    color: orange;
}
