.logo {
    /*padding: 50px;*/
    /*background: url('https://yastatic.net/s3/home-static/_/Y/m/iYFGil-w8xoq_2OQvnXq6EwLY.svg') no-repeat;*/
    /*background-size: 100px;*/
    position: relative;
    top: -3px;
    width: 100px;
    height: 43px;
    margin-right: 18px;
    vertical-align: top;
    background: url(https://yastatic.net/s3/home-static/_/Y/m/iYFGil-w8xoq_2OQvnXq6EwLY.svg) 50% 50% no-repeat;
    background-size: cover;
}