.logo {
    position: relative;
    background: url('https://yastatic.net/s3/home-static/_/Y/m/iYFGil-w8xoq_2OQvnXq6EwLY.svg') no-repeat;
    min-width: 100px;
    min-height: 100px;
    width: 100px;
    background-size: cover;
}
/*50% 50%*/