.visited__link_blue_toloka {
    text-decoration: none;
    color: blue;
    padding-left: 25px;
    background: url("https://yastatic.net/s3/toloka/p/worker/favicon.47ddfe2f33d5e1fb670cae6cfc801e8f.ico") no-repeat;
    width: 16px;
    height: 16px;
    background-size: 16px;
}