.search-form__input {
    outline: 0;
    border: #ffca26 0 solid;
    min-width: 570px;
    border-radius: 9px;
    padding-left: 10px;
    height: inherit;
    background: white;
}


.search-form__input::placeholder {
    color: #b6b6b6;
    margin: auto;
}

.search-form__input:focus::-webkit-input-placeholder {
    color: transparent
}

.search-form__input:focus::-moz-placeholder {
    color: transparent
}

.search-form__input:focus:-moz-placeholder {
    color: transparent
}

.search-form__input:focus:-ms-input-placeholder {
    color: transparent
}