.visited__image_blue_edadil {
    text-decoration: none;
    color: blue;
    padding-left: 25px;
    background: url("https://yastatic.net/s3/edadeal-public-static/web/app/b7f8acb3142542/static/img/favicon-16x16.png") no-repeat;
}