.foot {
    position: absolute;
    display: flex;
    /*justify-content: row;*/
    bottom: 25px;
    margin: 0 auto;
    font-size: 85%;
    color: #999;
    min-width:793px;
    max-width: 800px;
}