.foot {
    /*position: absolute;*/
    /*display: flex;*/
    /*justify-content: row;*/
    /*bottom: 25px;*/
    margin: auto auto 0 auto;
    font-size: 85%;
    color: #999;
    min-width:780px;
    /*max-width: 780px;*/
}